.landingImg{
  height: 100%;
  width: 100%
}
.personalIcons{
  position: fixed;
  top: auto;
  margin-left: 1%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}
.icon{
  padding: 10%
}

.landing-title{
  position:sticky;
  margin-top: 50vh;
}

.arrow{
  position: absolute;
  margin-top: 80vh;
}

.landing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  background-image: url("/landing.png");
  background-repeat: no-repeat;
  background-size:cover;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

.aboutDiv{
  background: white

}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projectsheader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  /*background: #1C1E22;*/
  padding-top: 1em;
  padding-bottom: 1em;
}

button{
  background-color: black;
  border: none;
}

.projectDisplay{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #1C1E22;
  flex-wrap: wrap;
  padding-bottom: 4em;

}

.container.aboutDiv {
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: Roboto-thin;
    font-size: 16pt;
    line-height: 170%;
}

.rounded_image{

  border-radius: 50%;
  max-height: 300px;
}

span.text-content {
  /*background: rgba(0,0,0,0.5);*/
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  position: absolute;
  top: 20%;
  width: auto;
  opacity: 0;
}


span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


.imageBox{
  display: inline-block;
height: 150px;
margin: 6em 1em 6em 1em;
position: relative;
text-align: center;
/*background-color: rgba(1,0,0,0.5)*/
}



div.imageBox:hover span.text-content {
  opacity: 1;
  /*background-color:rgba(1,0,0,0.5);*/
}
img.imgProject{
  opacity: 1;
  width: 250px;
  height: 250px;
  color: black;
  border-style: solid;
      border-color: grey;
      border-width: 1px;

    }

.container.projectDisplay {
    background-color: white;
}

div.imageBox:hover img.imgProject {
  opacity: 0;
}

img.img-responsive.imgProject {
    border-radius: 50%;
}
span.text-primary {
    color: black;
}

h1.header {
    padding-top: 150px;
    padding-bottom: 75px;
}

h1.landing-title {
    color: whitesmoke;
}

/*timeline shit*/


html, body {
    background-color: white;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.cd-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  background: #2B343A;
  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}
.container.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --------------------------------

Main components

-------------------------------- */


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50vw;
  height: 100%;
  width: 4px;
  background: #7E57C2;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
    left: 50vw;

  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #673AB7;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #333C42;
  border-radius: 2px;
  padding: 1em;
  .timeline-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    i {
      margin-right: 5px;
    }
    .timeline-content-info-title, .timeline-content-info-date {
      width: calc(50% - 2px);
      display: inline-block;
    }
    @media (max-width: 500px) {
      .timeline-content-info-title, .timeline-content-info-date {
        display: block;
        width:100%;
      }
    }
  }
  .content-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      background: #40484D;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(255,255,255,0.7);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
    }
  }
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(255,255,255,.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}
